[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/curlcpp"]
	path = vendor/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
[submodule "vendor/uuid"]
	path = vendor/uuid
	url = https://github.com/crashoz/uuid_v4.git
[submodule "vendor/optick"]
	path = vendor/optick
	url = https://github.com/bombomby/optick.git
[submodule "vendor/concurrentqueues"]
	path = vendor/concurrentqueues
	url = https://github.com/cameron314/concurrentqueue.git
